
 .ilgi {
  margin:30px 0;
  border:1px solid #AAA;
  padding:20px 10px;
  border-radius:5px;
  background-color:#AE1A00;
 }
 .ilgi .row {
  color:white;
  font-size:28px;
  font-weight:450;
 }
 .ilgi .row .sub {
  font-size:24px;
  color:#75A2FF;
  margin-bottom:0px;
 }

@media screen and (max-width: 980px){
 .ilgi {
  margin:30px 0;
  border:1px solid #AAA;
  padding:20px 10px;
  border-radius:5px;
  background-color:#AE1A00;
 }
 .ilgi .row {
  color:white;
  font-size:22px;
  font-weight:450;
 }
 .ilgi .row .sub {
  font-size:20px;
  color:#75A2FF;
  margin-bottom:0px;
 }
}